<%= form_with(model: [@building], local: true, class:'p-4 p-md-5 border rounded-3 bg-light') do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited
        this building from being saved:</h2>
      <ul>
        <% building.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-label">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>
  <div class="form-label">
    <%= form.label :address %>
    <%= form.text_field :address, class:'form-control' %>
  </div>
  <div class="form-label">
    <%= form.label :city %>
    <%= form.text_field :city, class:'form-control' %>
  </div>
  <br>
  <div class="w-100 btn btn-lg btn-primary">
    <%= form.submit class:'w-100 btn btn-lg btn-primary' %>
  </div>
<% end %>
