<div class="px-4 py-5 my-5 text-center">
   <h1> <i class="bi bi-building"></i> </h1>
   <h1>Edificio</h1>
   <div class="col-lg-6 mx-auto">
<p><strong>Nombre:</strong> &nbsp;
<%= @building.name %></p>
<p><strong>Dirección: </strong> &nbsp;
<%= @building.address %></p>
<p><strong> Ciudad:</strong> &nbsp; 
<%= @building.city %></p> 
<h1><i class="bi bi-door-open"></i>&nbsp;Departamentos</h1>
<table class="table table-striped col-lg-6 mx-auto">
  <thead>
    <tr class="bg-secondary text-white">
      <th style="border:1px solid black">Número</th>
      <th style="border:1px solid black" colspan="3">Acción</th>
    </tr>
  </thead>
  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td style="border:1px solid black"><i class="bi bi-door-open"></i>&nbsp;<%= apartment.number %></td>
        <td style="border:1px solid black"><%= link_to "Ver", apartment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Volver", buildings_path, class:'btn btn-primary' %>
</div >
</div>